@import "../../node_modules/omni-slider/src/omni-slider.scss";
@import "../../node_modules/bootstrap-daterangepicker/daterangepicker.scss";
@import "global-variables";
@import "component/main_search_bar";
@import "component/search_filters";
@import "component/single_item";

.search-header{
  padding-bottom: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
  color: $gray-light;
  
  .layout-switcher{
    a{
      font-size: 18px;
      color: $gray-light;
      margin-left: 6px;
      
      &.active{
        color: $brand-primary;
      }
    }
  }
}
.search-list{}
