@import "../global-variables";
@import "_single_item";

h1.listing-title{
  font-weight: bold;
  max-width: 600px;
  margin: 30px 0 60px;
}
.listing-form{
  max-width: 500px;
}
.btn-submit{
  width: 200px;
  height: 54px;
  border-radius: 3px;
  margin-top: 15px;
}
.feature-checkbox{
  margin-top: 15px;
  
  > li{    
    label{
      width: 80px;
      text-align: center;
      cursor: pointer;
      font-weight: normal;
    }
    .icon{
      height: 40px;
      font-size: 30px;      
    }
    input{
      
    }
  }
}
.single-item-lg{
  margin-top: 100px;
}
.photo-upload-btn{
  position: relative;
  width: 200px;
  height: 60px;
  overflow: visible;
  margin-bottom: 30px;
  
  &:before{}
  &:after{
    content: "\f0ee  Upload Photos";
    font-family: FontAwesome,'lato';
    width: 200px;
    height: 60px;
    display: block;
    background-color: $brand-primary;
    cursor: pointer;
    line-height: 60px;
    color: #fff;
    top: 0;
    position: absolute;
    border-radius: 3px;
    text-align: center;
    font-size: 16px;
  }
}
.publishded-alert{
  .icon{
    color: $bright-sky-blue
  }
  h1{
    font-weight: bold;
    margin: 25px 0;
  }
  p{
    font-size: 24px;
    color: $gray-light;
    margin-bottom: 40px;
  }
}