@import "../global-variables";

.main-search-bar{
  box-shadow: 0 3px 10px 0 rgba(82, 85, 91, 0.2);
  margin: 60px 0;
  padding: 10px;
  border-radius: 3px;

  .form-group{
    margin: 0;
    label{
      font-size: 13px;
      font-weight: normal;
      margin-left: 12px;
      margin-bottom: 3px;
    }
    .form-control{
      font-size: 18px;
      border: 0 none;
      box-shadow: none;
    }
  }
  .btn-search{
    height: 60px;
    font-size: 18px;
  }
}