@import "../global-variables";
/* ============================================================
  COMMON
============================================================ */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
/* ============================================================
  SWITCH 1 - ROUND
============================================================ */
input.cmn-toggle-round + label {
  padding: 2px;
  width: 45px;
  height: 28px;
  background-color: #eeeeee;
  border-radius: 20px;
}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 20px;
}
input.cmn-toggle-round + label:after {
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: $bright-sky-blue;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: calc(100% - 26px);
}
//// 

.general-filters{
  margin: 0;
  
  > li{
    border-bottom: 1px solid #eee;
    overflow: hidden;
    padding: 15px 0;
  }
  .filter-title{
    margin-bottom: 10px;
    display: block;
  }
}
.range-slider-wrap{
  .slider{
    margin: 12px 10px;
    height: 2px;
    border: 0 none;
    background-color: #a4aab3;
    width: auto;
        
    .handle{
      width: 20px;
      height: 20px;
      background-color: #ffffff;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
      border: solid 0.5px #ddd;
      
      &:active{
        box-shadow: none;
        border-color: #ccc;
      }
      .slider-circle{
        visibility: hidden;
      }
    }
    .slider-fill{
      background-color: $bright-sky-blue
    }
  }
}
.range-slider-text{
  .range-number{
    font-weight: normal;
    font-size: 18px;
  }
}
.panel.panel-filter{
  border-bottom: 1px solid #eee;
  .panel-heading{
    padding: 0;
  }
  .panel-title{
    font-size: 14px;
    a{
      display: block;
      position: relative;
      padding: 15px 0;
      &:after{
        content: "\f077";
        font-family: FontAwesome;
        position: absolute;
        font-size: 12px;
        width: 12px;
        height: 12px;
        right: 0;
        top: 16px;
        color: $gray-light;
      }
      &.collapsed:after{
        content: "\f078";
      }

    }
  }
  .panel-collapse{
    border-bottom: 1px solid #eee;
        
    > .panel-body{
      padding: 0;
      border: 0 none;
    }
  }
  .filter-list{
    > li{
      margin: 0 0 8px;
      
      label{
        font-weight: normal;
      }
    }
  }
}